<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/argon2-browser/dist/argon2.min.js"></script>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm">
    <label for="username">Email/Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <button type="button" onclick="login()">Sign In</button>
  </form>
  <h1>Standard Fields</h1>
  <a href='/signup_begin'><button>Sign Up With Email</button></a>
  <a href='/callback'><button>Back</button></a>
  <a href='/login_with_google'><button>Login with Google</button></a>
  <a href='/login_with_github'><button>Login with GitHub</button></a>
  <a href='/login_with_azure'><button>Login with Azure</button></a>
  <a href='/login_with_atlassian'><button>Login with Atlassian</button></a>
  <a href='/login_with_dropbox'><button>Login with Dropbox</button></a>
  <script>
    // Set the base URL for API calls
    const base_url = '{{ base_url }}';

    // Set the request secret
    const request_secret = '{{ request_secret }}';

    // Function to handle the login process
    async function login() {
      // Get the username and password from the form
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      // Make a call to the /salt_request endpoint to get the salt
      const salt_response = await fetch(base_url + "/salt_request", {
        method: "POST",
        headers: {
          "request_secret": `${request_secret}`,
          "Content-Type": "application/x-www-form-urlencoded"
        },
        body: `email=${username}`
      });
      const salt_data = await salt_response.json();
      const salt = salt_data.salt;
      const request_secret = salt_data.request_secret;

      // Hash the password with the salt using Argon2
      const hashed_password = await argon2.hash({
        pass: password,
        salt: salt,
        time: 1000, // 1 second
        mem: 1024, // 1 MB
        hashLen: 32, // 32 bytes
        parallelism: 1, // number of threads
        type: argon2.ArgonType.Argon2id // use Argon2id
      });

      // Make a call to the /authenticate_user endpoint to authenticate the user
      const auth_response = await fetch(base_url + "/internal_login", {
        method: "POST",
        headers: {
          "request_secret": `${request_secret}`,
          "Content-Type": "application/x-www-form-urlencoded"
        },
        body: `email=${username}&password=${hashed_password}`
      });
      if (auth_response.ok) {
        window.location.href = base_url + "/callback";
      } else {
        alert("Failed to log in. Please try again.");
      }
    }
  </script>
</body>
</html>